body{	
	text-align:center;
	margin:0;
	padding:0;
}	
#chart{
	background-color:#B5D0D0;
}
.country{
	stroke:#B5D0D0;
	fill:#F2EFE9;
}
.tip{
	color:#ffffff;
	background-color:rgba(255,66,0,0.7);
	padding:10px;
	text-align:left
}