body{	
	text-align:center;
	margin:0;
	padding:0;
}	
#chart{
	background-color:#B5D0D0;
}
.country{
	stroke:#222;
	fill:#F2EFE9;
}
.tip{
	color:white;
	background-color:rgba(173,216,230,0.7);
	padding:10px;
	text-align:left
}